<div class="container-fluid">
    <div id="agendamento">
        <div class="well-sm">
            <h2 class="well-sm title_help"> Agendamento: </h2>
            <h3>
                Escolha o dia e depois a hora que deseja reservar para o uso do experimento. Para desistir do horário escolhido, selecione-o novamente.
            </h3>
        </div>
                    
        <div id="calendar"></div>
    </div>
</div>
