<link href="~/Content/Ajuda.css" rel="stylesheet" />
<div id="ajuda">
    <div class="well help_banner">
        <h2 class="well-sm"> Como usar o LabVad: </h2>
        <h3> Um tutorial rápido e objetivo </h3>
    </div>

    <section>
        <div>
            <h2 class="well-sm title_help my-4"> Escolha um dos experimentos: </h2>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row px-3">
                    <span class="btn btn-warning angle_down" data-toggle="collapse" data-target="#ledCollapse">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span class="btn btn-warning angle_up hidden" data-toggle="collapse" data-target="#ledCollapse">
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <div>
                        <h2 class="my-0 mx-3"> LEDs: </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="ledCollapse">
                    <div class="row row_responsive _small">
                        <div class="col">
                            <figure class="image_frame embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="~/Content/_imagens/leds.png">
                            </figure>
                        </div>
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Content/iframes/led.html" name="led" id="frame0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row px-3">
                    <span class="btn btn-warning angle_down" data-toggle="collapse" data-target="#servoCollapse">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span class="btn btn-warning angle_up hidden" data-toggle="collapse" data-target="#servoCollapse">
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <div>
                        <h2 class="my-0 mx-3"> Servo Motor: </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="servoCollapse">
                    <div class="row row_responsive _small">
                        <div class="col">
                            <figure class="image_frame embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="~/Content/_imagens/servo.png">
                            </figure>
                        </div>
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Content/iframes/servo.html" name="servo" id="frame1"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row px-3">
                    <span class="btn btn-warning angle_down" data-toggle="collapse" data-target="#dcCollapse">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span class="btn btn-warning angle_up hidden" data-toggle="collapse" data-target="#dcCollapse">
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <div>
                        <h2 class="my-0 mx-3"> Motor DC: </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="dcCollapse">
                    <div class="row row_responsive _small">
                        <div class="col">
                            <figure class="image_frame embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="~/Content/_imagens/dc.jpg">
                            </figure>
                        </div>
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Content/iframes/dc.html" name="dc" id="frame2"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row px-3">
                    <span class="btn btn-warning angle_down" data-toggle="collapse" data-target="#disCollapse">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span class="btn btn-warning angle_up hidden" data-toggle="collapse" data-target="#disCollapse">
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <div>
                        <h2 class="my-0 mx-3"> Display de Caracteres: </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="disCollapse">
                    <div class="row row_responsive _small">
                        <div class="col">
                            <figure class="image_frame embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="~/Content/_imagens/carac.png">
                            </figure>
                        </div>
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Content/iframes/dispcarac.html" name="carac" id="frame3"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row px-3">
                    <span class="btn btn-warning angle_down" data-toggle="collapse" data-target="#segCollapse">
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <span class="btn btn-warning angle_up hidden" data-toggle="collapse" data-target="#segCollapse">
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <div>
                        <h2 class="my-0 mx-3"> Display de 8 Segmentos: </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="segCollapse">
                    <div class="row row_responsive _small">
                        <div class="col">
                            <figure class="image_frame embed-responsive embed-responsive-16by9">
                                <img class="embed-responsive-item" src="~/Content/_imagens/8seg.png">
                            </figure>
                        </div>
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Content/iframes/disp8seg.html" name="8seg" id="frame4"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
