<link href="~/Content/MinhaConta.css" rel="stylesheet" />
<div id="minhaConta" class="container-fluid">
    <div class="well-sm mb-5">
        <h2 class="title_help well-sm">Minha Conta:</h2>
        <h3> Confira ou faça alterações em seus dados cadastrais, e veja seus horários reservados.</h3>
    </div>

    <div class="well">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <figure class="image is-128x128">
                        <img class="rounded" src="~/Content/_imagens/profile_blank.jpg">
                    </figure>
                </div>
                <div>
                    <h1 class="rounded text-center" style="">@ViewBag.Nome</h1>
                </div>
            </div>
            <div class="col">
                <div class="well-sm">
                    <h1 class="text-center">Minhas Reservas</h1>
                </div>
                <div>
                    <div id="wrappedView" class="mb-5">
                        <div id="viewList">
                            <script>
                                function getViewList() {
                                    $("#viewList").empty();

                                    let viewList = document.getElementById("viewList");
                                    let calendarList = new FullCalendar.Calendar(viewList, {
                                        plugins: ['bootstrap', 'interaction', 'list'],
                                        defaultView: 'listDay',
                                        height: 'auto',
                                        locale: 'pt-br',
                                        themeSystem: 'bootstrap',
                                        header: {
                                            left: 'prev',
                                            center: 'title',
                                            right: 'next',
                                        },
                                        events: [
                                            {
                                                title: 'Reservado para mim',
                                                start: "2019-08-13T09:30",
                                                end: "2019-08-13T10:59"
                                            },
                                            {
                                                title: 'Reservado para mim',
                                                start: "2019-08-13T12:00",
                                                end: "2019-08-13T12:59"
                                            },
                                            {
                                                title: 'Reservado para mim',
                                                start: "2019-08-13T18:30",
                                                end: "2019-08-13T19:59"
                                            },
                                            {
                                                title: 'Reservado para mim',
                                                start: "2019-08-13T22:00",
                                                end: "2019-08-13T23:59"
                                            },
                                        ]
                                    });
                                    calendarList.render();
                                }
                                getViewList();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div>
            <h1 class="text-warning text-center">Informações Gerais</h1>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div>
                    <div class="my-3">
                        <label>Nome</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input class="form-control" type="text" value="@ViewBag.Nome" readonly />
                        </div>
                    </div>
                    <div class="my-3">
                        <label>E-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                            <input class="form-control" type="text" value="@ViewBag.Email" readonly />
                        </div>
                    </div>
                    <div class="my-3">
                        <label>Instituição</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-building"></i></span>
                            <input class="form-control" type="text" value="@ViewBag.Instituicao" readonly />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-info">Alterar</button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="v_line"></span>
            <div class="col d-flex justify-content-center">
                <div>
                    <div class="my-3">
                        <label>Nova Senha</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key"></i></span>
                            <input class="form-control" type="password" readonly />
                        </div>
                    </div>
                    <div class="my-3">
                        <label>Confirmar Nova Senha</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key"></i></span>
                            <input class="form-control" type="password" readonly />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-info">Alterar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="h_line" />

    <!---->
    <div class="d-flex flex-column well">
        <div class="d-flex justify-content-center m-1">
            <h2 class="rounded text-warning">Encerrar Conta</h2>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn-lg btn-danger">Excluir Conta</button>
        </div>
    </div>
</div>
