@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    background-color: #FAF0E6 !important;
}

._dark_theme {
    background-color: #282923 !important;
}

.navbar_custom {
    display: block;
    min-width: fit-content;
    background-color: #4682b4;
}
.toggle_custom {
    width: 47px;
    height: 50px;
    border: 1px solid #f0ad4e !important;
}

.button_burger_icon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #f0ad4e;
    margin: 6px 0;
}
.burger_close_icon {
    color: #f0ad4e;
    font-size: 3rem;
}
.toggle_custom:not(.collapsed) {
    display: flex;
    justify-content: center;
}
.toggle_custom:not(.collapsed) > .button_burger_icon {
    display: none;
}
.toggle_custom.collapsed > .burger_close_icon {
    display: none;
}
.fit_width {
    width: fit-content;
}

.navitem_custom {
    background-color: #4682b4;
    border: 3px solid #363636;
    border-right: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #000;
    margin: 0 .5rem;
    transition: border .5s;
}
.navlink_custom {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #282923;
}

.navitem_custom:hover,
.navitem_custom.current {
    border: 3px solid #fffafa;
    border-right: 0;
    box-shadow: 0px 0px 3px #fff;
    transition: box-shadow 0.35s;
}
    .navitem_custom:hover > a.navlink_custom,
    .navitem_custom.current > a.navlink_custom {
        color: #fffafa !important;
        text-decoration: none;
        transition: color 0.25s;
    }

.switch_label {
    font-size: 10pt;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #282923;
}

.switch_rail {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    margin-left: 30%;
    margin-top: 5px;
}
    .switch_rail input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider_button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 17px;
}
    .slider_button:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: -1px;
        bottom: -1px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
    }

input:checked + .slider_button {
    background-color: #9acd32;
}
input:focus + .slider_button {
    box-shadow: 0 0 1px #9acd32;
}
input:checked + .slider_button:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateY(22px);
    transform: translateX(22px);
}

.line_flex {
    border-left: 2px solid gray;
}

img#logo {
    height: 85%;
}

span > i {
    pointer-events: none;
}
/**/
div#Conteudo {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.fc-center {
    margin-left: 20px;
    margin-right: 20px;
}
.item .active {
    display: flex;
}
.Interface {
    height: auto;
    min-height: inherit;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.carousel-inner {
    height: auto;
    min-height: inherit;
}
.item {
    height: auto;
    min-height: inherit;
}



@media screen and (max-width: 412px) {
    ul.nav.nav-tabs {
        flex-direction: column;
    }

    li.tab_button > a {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .row_responsive._smaller {
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    .row_responsive._small {
        flex-direction: column;
        gap: 2rem;
    }

    .line_flex {
        border-top: 2px solid gray;
        width: 70%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1216px) {
    .row_responsive._medium {
        flex-direction: column;
        gap: 2rem;
    }
}